/* navbar */
nav{
    margin-bottom:-20px;
 
 }
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
   }
   
   li {
     float: left;
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   li a:hover:not(.active) {
     background-color: #111;
   }
   
   .active {
    background-color: burlywood;
}

.front{
    height: 10px;
}
#one{
    height:500px;
    width: 100%;
    align-items: center;
  
}
/* about content */
.row{
  display: flex;
   padding-top: 500px; 
}
.column{
  flex: 50%;
}
header{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: center;
    letter-spacing: 3px;
    font-size: 70px;
    font-weight: 600;
}
/* cards displlay */
.main-card{
    display: flex;
    padding: 20px;
 margin-left: 200px;
}
